<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button color="secondary" (click)="this.goToThings('pretty')"  class="pretties" expand="block">
        <ion-img src="../../../assets/goodThing.png" class="height"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="secondary" (click)="this.goToThings('ugly')" class="uglies" expand="block">
        <ion-img class="height" src="../../../assets/badThing.png"></ion-img>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
